:root {
    --pink-color: #e26e70;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to right, blue, red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-modal {
    width: 190px;
    height: 65px;
    border: none;
    border-radius: 6px;
    font-size: 20px;
}


/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal_inner {
    width: 452px;
    height: 202px;
    position:  relative;
    top: 197px;
    margin: auto;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
}

.modal_header {
    height: 50px;
    padding: 16px;
    font-size: 17px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink-color);

}

.modal_body {
    padding: 16px;
}

.modal_body h2 {
    color: var(--pink-color);
}

.modal_body p {
    margin-top: 15px;
}

.modal_footer {
    padding: 10px 16px;
    text-align: right;
}

.modal_footer button {
    width: 75px;
    height: 34px;
    color: #fff;
    border: none;
    background-color: var(--pink-color);
    border-radius: 6px;
}

.hide {
    display: none;
}